@charset "utf-8";
/* CSS Document */

.beijin1 {
	margin: 0px;
	background-image: url(../背景1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
}
