@charset "utf-8";
/* CSS Document */

body {
	margin: 0px;
	background-image: url(../背景1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
}

.beijin2 {
	background-image: url(../背景3.png);
	background-repeat: no-repeat;
	background-position: right;
	font-size: 16px;
	font-weight: normal;
	color: #09F;
	padding: 10px;
}
